<!DOCTYPE html>
<html>
  <head>
    <title>Treebnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <%= favicon_link_tag asset_path('tree-solid-green-favicon-size.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script >
      window.upcomingPlansSvg = "<%= image_url('Tree_swing.svg') %>";
      window.githubLogo = "<%= image_url('github.png') %>";
      window.angellistLogo = "<%= image_url('angellist.png') %>";
      window.linkedinLogo = "<%= image_url('linkedin.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
